
/* .SideBarLinksContainer a.active div{
    background-color: #e2e8f0;
    font-weight: 600;
} */

.SideBarLinksContainer a.active div.lightMode{
    background-color: #e2e8f0;
    font-weight: 600;
}

.SideBarLinksContainer a.active div.darkMode{
    background-color: #383838;
    font-weight: 600;
}

.SideBarLinksContainer a.active i{
    color: red;
}

.SideBarLinksContainer a{
    text-decoration: none;
    color: #000000;
}
